{% extends 'lessonapp/base.html' %}

{% block title %}Список заказанных товаров{% endblock %}

{% block content %}

    <h1 class="header">Список заказанных товаров.</h1>

<div class="container">
    <h2>Пользователь: {{ username }}</h2>

    {% for period, orders in orders_data.items %}
        <h2 class="period-header">За последние {{ period }} дней:</h2>
        {% if orders %}
            {% for order in orders %}
                <div class="order-container">
                    <div class="order-item">Заказ №{{ order.id }}, Дата: {{ order.formation_date }}</div>
                    <ul class="product-list">
                        {% for product in order.products.all %}
                            <li class="product-item">
                                {{ product.name_product }} - {{ product.price_product}}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        {% else %}
            <div class="no-orders">Нет заказов за последние {{ period }} дней.</div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}

